@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

p {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

a {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
}

/* logo */
#logo {
    height: 130px;
    width: 130px;
}

/* navigation menu */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu li {
    list-style: none;
    margin-left: 30px;
    text-transform: uppercase;
}

/* hero */
#hero-section {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #F78F4A;
}

#hero-img {
    left: 0;
    height: 100vh;
    width: 800px;
    background:url(../images/hero-img.jpg) no-repeat center center/cover;;
}

#hero-text {
    height: 400px;
    width: 600px;
    position: absolute;
    right: 5%;
    top: 25%;
    color: #082340;

}

#hero-text h1 {
    font-size: 80px;
    line-height: 60px;
    margin-bottom: 35px;
}

#hero-text span {
    font-size: 40px;
}

#hero-text p {
    font-size: 20px;
    font-weight: bold;
}

